
a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:inherit;
}
h2{
    font-weight: bold;
}
li{
list-style: none;
font-weight: bold;
margin-left: 2%;
margin-right: 2%;
color: grey;
}
li a{
    color:grey;
}
.searchbar{
    width:35%;
    min-width: 250px;
    border: none;
    background-color: rgb(241, 241, 241);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.boton{
    width:8%;
    min-width: 80px;
    border-radius: 10px;
    color:white;
}
.location{
    color:red;
}
.span1{
    background-color: rgb(241, 241, 241);
    border:none;
    border-radius: 15px;
}

.divrest{
    margin:0;
    padding:0;
    overflow: hidden;
}

.foto{
    color:white;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
@media screen and (max-width:600px){
    h1{font-size: 25px;}
    .boton{margin:auto; width:280px;margin-top: 5px;}
    .mquery{flex-direction: column;width:100%;}
    .divrest{width:100%;}
    .divrest h1{height: 80px;padding-top: 20px;}
    .lowbar{flex-direction: column;height:500px!important;}
    .lowbarcomp{width:100%;}
    .backphone{background-position:bottom right!important;background-size: 40%;}   

}
@media screen and (max-width:1000px){
    .bigfooter{flex-direction: column;}
    .foot{height:300px;}
    .btnfb a{margin-bottom: 15px;}
    .mqueryfot2{margin-left: 35%;}
}

.list{
    flex-wrap: wrap;
}
.lowbar{
    color:rgb(104, 104, 104);
    background-color: rgb(236, 236, 236);
    height: 180px;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;

}
.lowbarcomp{
    margin: 20px;
    width:20%;
}
.icono{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width:70px;
    height: 70px;
    margin-right: 15px;
}
.marcas{
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
}
.marcas1 img{
    width:100px;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
.grey{
    box-sizing: border-box;
    background-color:rgb(233, 233, 233);
    height: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.prime{
    background-color: white;
    margin-left: 5%;
    margin-bottom: 7%;
}
.primelist{
    margin-left: 5%;
}
.primelist i{
    color:red;
    margin-right: 5px;
}
h5{
    font-weight: bold;
}
p{
    margin-left: 35px;
    color:grey;
    font-size: 15px;
    margin-bottom: 35px;
}
.backphone{
    background-image: url("https://rappi-images-upload-co.s3.amazonaws.com/cms-web/images/download_app_b7bc444e65.png");
    background-repeat: no-repeat no-repeat;
    background-position: right;
}
.boton2{
    border-radius: 15px;
    margin-left: 5%;
}
.cualapp{
    background-color: rgb(233, 230, 230);
    width:100%;
    background-image: url("https://rappi-images-upload-co.s3.amazonaws.com/cms-web/images/faq_fbc29d9510_bd48afec16.png");
    background-position: right;
    background-repeat: no-repeat no-repeat;
    background-size: 30%;
}
.ciudad{
    background-color: rgb(233, 230, 230);
    border-radius: 15px;
    padding:50px;
}
.ul2 a{
    font-size: 10px;
    font-weight: bold;
}
.ul2{
    word-wrap: wrap;
    border: 1px solid tomato;
}
.bigfooter{
    background-color: rgb(233, 230, 230);
}

.footer{
    color:grey;
    font-size: 10px;
}
.btnfb{
    padding-right: 300px!important;
}
.btnfb a{
    padding-right: 20px;
}

.fiscal{
   width: 15%;
   padding-right: 15px;   
}

.ul3 li{
    display:inline;
    font-size: 10px;
}

.foot{
    display:flex;
    padding: 20px;
    height:300px;
}
.foot a{
    font-size: 10px;
}